@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

body {
    width: 99vw;
    height: 100vh;
    margin: 0 auto;
    background-color: #f9f9f9;
    display: grid;
    grid-template-rows: 3.5rem auto;
    grid-template-areas: 
    "menu" 
    "main";
}

.menu {
    height: 3.5rem;
    min-width: 725px;
    padding: 0 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    grid-area: menu;
    background-color: #FFF;
}

#left {
    width: 9.125rem;
    height: 1.5rem;
    margin-left: -15px;
    display: grid;
    display: flex;
    justify-content: space-between;
    padding-left: 1.25rem;
}

#menu-hamburger {
    width: 1.5rem;
    height: 1.5rem;
}

#logo {
    width: 5.625rem;
    height: 1.25rem;
}

.pointer {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

#center {
    width: 25.25rem;
    height: 2.5rem;
    display: flex;;
}

form {
    display: flex;
    align-items: center;
    height: 2.5rem;
}
  
input {
   width: 21.75rem;
   height: 2.5rem;
   padding-left: 0.9375rem;
   border: 1px solid #CCCCCC;
   flex-grow: 1;
}
  
#lupa-button {
   width: 3.56rem;
   height: 2.625rem;
   border: 1px solid #CCCCCC;
   cursor: pointer;
   background-color: transparent;
}

#lupa {
    width: 1.5rem;
    height: 1.5rem;
}

#right {
    width: 8.125rem;
    height: 2.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;;
}

.icon-right {
    width: 24px;
    height: 24px;
}

#photo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 218px 1fr;
    grid-template-areas: 
        "sidebar videos";
}

.videos {
    grid-area: videos;
    height: 968px;
    display: grid;
    grid-template: repeat(3, 262px)/repeat(4, 282px);
    padding: 30px 0 0 30px;
    gap: 16px;

    /* background-color: darkgreen; */
}

.thumbs {
    width: 282px;
    height: 262px;
    padding: 16px;
}

.thumb-videos {
    width: 250px;
    height: 140.29px;
}

.video-details {
    width: 249px;
    height: 74px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.video-details a {
    color: #000;
    text-decoration: none;
}

.cover a img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.cover {
    width: 42px;
    height: 74px;
    
}

.details {
    width: 197px;
    height: 74px;
}

h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.025625rem;
    margin-bottom: 12px;
}
span, time {
    font-size: 12px;
    font-weight: 400;
    display: block;
}

.sidebar {
    grid-area: sidebar;
    height: 968px;
    display: flex;
    flex-flow: column wrap;
    padding: 15px;
    

    /* background-color: red; */
}
.itens {
    height: 24px;
    margin: 15px 0 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background-color: blue; */
}

.sidebar-inicio {
    width: 75px;
}

.sidebar-explorar {
    width: 91px;
}

.sidebar-inscricoes {
    width: 105px;
}

.sidebar-yt-music {
    width: 136px;
}

.sidebar-videos-gostei {
    width: 152px;
}

.sidebar-assistir-depois {
    width: 157px;
}

.sidebar-downloads {
    width: 110px;
}

.sidebar-filmes {
    width: 82px;
}

.sidebar-aprender {
    width: 97px;
}

.sidebar-esportes {
    width: 96px;
}

button, .icon {
    width: 24px;
    height: 24px;
    border: transparent;
    background: transparent;

    /* background-color: yellow; */
}

.sidebar-menu, #inicio {
    height: 16px;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 14px;

    /* background-color: green; */
}

#inicio {
    width: 35px;
    font-weight: 700;
}